body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent url("./assets/Layout3.jpg") no-repeat center;
  background-size: cover;
  #root {
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
  }
}
